
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="MBRDNA MLPUX">

  <title>test</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../resources/bootstrap-3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../resources/jQuery-UI/jquery-ui.min.css">
  <link rel="stylesheet" href="../resources/jQuery-UI/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="../resources/jQuery-UI/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="../resources/bootstrap-3.3.5/css/bootstrap-theme.min.css">


  <!-- JS Frameworks / Libraries -->
  <script src="../resources/jquery-2.1.4/js/jquery-2.1.4.min.js"></script>
  <script src="../resources/jQuery-UI/jquery-ui.min.js"></script>
  <script src="../resources/bootstrap-3.3.5/js/bootstrap.js"></script>


</head>
<style>
.page-header{
  margin-top:0px;
}
</style>
<body>

  <div id="wrapper"> 
    <form method="post" action="http://155.99.144.45:5000/BetNet_API_v1/addUser">
      Username:<br>
      <input type="text" name="username">
      <br>
      Password:<br>
      <input type="password" name="password">
      <br>
      Email:<br>
      <input type="email" name="email">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
